# JupyterLite `xeus-sqlite` Kernel Demo

The [`jupyterlite/xeus-sqlite-kernel`](https://github.com/jupyterlite/xeus-sqlite-kernel) wraps the original [`jupyter-xeus/xeus-sqlite`](https://github.com/jupyter-xeus/xeus-sqlite/) kernel for use in JupyterLite.

Original kernel docs can be found [here](https://xeus-sqlite.readthedocs.io/en/latest/).

The kernel provides cell magic for command line database operations, and native execution of SQL code against a connected database.

## Creating a Database

Line magic is used to create an in-memory database:

In [ ]:
%CREATE example_db.db

Currently, there is no ability to:

- save the database to browser storage;
- export the database;
- load a database from browser storage;
- load a database from a URL;
- load a database from the desktop;
- connect to a remote sqlite database file.

## Create and Populate Tables

Tables are created and populated using SQL:

In [ ]:
CREATE TABLE players (Name STRING, Class STRING, Level INTEGER, Hitpoints INTEGER)

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Martin Splitskull", "Warrior", 3, 40)

In [ ]:
SELECT COUNT(*) as rowcount FROM players

Only one command can be executed from within a single code cell:

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sir Wolf", "Cleric", 2, 20);

-- The following will not be inserted
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sylvain, The Grey", "Wizard", 1, 10);

In [ ]:
SELECT Name, Level, Hitpoints FROM players;

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sylvain, The Grey", "Wizard", 1, 10);

In [ ]:
SELECT Name, Level, Hitpoints FROM players;

## Querying Tables

A full range of SQL query commands are supported, including aggregation operations:

In [ ]:
SELECT SUM (Level) FROM players

Grouping also works:

In [ ]:
SELECT Level, SUM(Hitpoints) AS `Total Hitpoints`
FROM players
GROUP BY Level
ORDER BY `Total Hitpoints` DESC;

## Charting Using Vega

The `jupyter-xeus/xeus-sqlite` kernel also bundles Vega charting components.

Vega charts can be generated by piping the result of a SQL query into a Vega line magic command.

In [ ]:
%XVEGA_PLOT
    X_FIELD Level
    Y_FIELD Hitpoints
    MARK circle
    WIDTH 100
    HEIGHT 200
    <>
    SELECT Level, Hitpoints FROM players

## Database Administration

Several line magics are defined to support database administration

In [ ]:
%TABLE_EXISTS players

In [ ]:
%TABLE_EXISTS npcs

In [ ]:
%GET_INFO

## Connecting to a Different Database

Creating a new database will connect the kernel to the new database instance.

In [ ]:
%CREATE potato.db

In [ ]:
CREATE TABLE potaters(production INTEGER)

In [ ]:
INSERT INTO potaters (production) VALUES (7)

In [ ]:
SELECT * FROM potaters

The original database is lost:

In [ ]:
SELECT Name, Level, Hitpoints FROM players;